.statement,
.definition,
.disclaimer,
.lemma,
.problem,
.remark,
.theorem
{
    border-radius: 5px;
    color: #111;
    border: 1px solid black;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px
}

.definition {
    background-color: #eef;
    border-color: #e8e8e8;
}

.disclaimer {
    background-color: lightgray;
    border-color: gray;
}

.lemma {
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.problem {
    background-color: lightsteelblue;
    border-color: steelblue;
}

.remark {
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.theorem {
    background-color: #f2dede;
    border-color: #ebccd1;
}
